body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: grey;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: skyblue;
    color: white;
    padding: 20px;
}

footer {
    margin-top: 100px;
    color: white;
    background-color: orange;
    padding: 15px;
}

.counter {
    margin-top: 60px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: blueviolet
}